.favcontainer {
  border-radius: 15px;
  width: 20%;
  height: 40%;
  background-color: white;
  position: absolute;
  z-index: 8;
  left: 79%;
  margin-top: 5px;
}

.favorite {
  background: linear-gradient(90deg, rgb(106, 36, 225) -3.28%, rgb(73, 118, 220) 103.57%);
  color: white;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.whyplace {
  width: 100%;
  padding: 20px;
}

.reason {
  width: 90%;
  height: 100px;
  border: 1px solid black;
  border-radius: 15px;
}

.choosemarker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  right: 18px;

}

.marker {
  padding: 8px;
  text-align: center;
  width: 40%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  background-color: white;
}

.marker:hover { 
  background: linear-gradient(90deg, rgb(106, 36, 225) -3.28%, rgb(73, 118, 220) 103.57%);
}

.clicked {
  padding: 8px;
  text-align: center;
  width: 40%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, rgb(106, 36, 225) -3.28%, rgb(73, 118, 220) 103.57%);
}

.buttoncontainer {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 50px;
  gap: 15px;
  padding-top: 30px;
}

.buttoncontainer button {
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 15px;
}

.buttoncontainer button:hover {
  color: white;
  background: linear-gradient(90deg, rgb(106, 36, 225) -3.28%, rgb(73, 118, 220) 103.57%);
}