* {
    font-family: "noto-sans";
}

.inputDiv {
    width: 100%;
    position: absolute;
    z-index: 7;
    bottom: 50%;
    left: 25%;
    background: transparent;
}

input {
    width: 40%;
    height: 54px;
    outline: 0;
    border-width: 0 0 4px;
    border-color: rgb(106, 36, 225);
    background: transparent;
    font-size: 40px;
}

.inputButton {
    font-size: 15px;
    color: white;
    width: 8%;
    height: 50px;
    margin-left: 8px; 
    background: linear-gradient(90deg, rgb(106, 36, 225) -3.28%, rgb(73, 118, 220) 103.57%);
    border: none;
    border-radius: 8px;
}

