* {
    font-family: "noto-sans";
}

.inputDiv {
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 20px;
}

input {
    width: 380px;
    height: 27px;
    border-radius: 8px;
    padding-left: 20px;
}

Button {
    width: 60px;
    height: 30px;
    border: 2px solid #474EFE;
    background-color: white;
    border-radius: 8px;
}

