.searchbutton {
  width: 180px;
  height: 60px;
  border-radius: 15px;

  background: linear-gradient(90deg, rgb(106, 36, 225) -3.28%, rgb(73, 118, 220) 103.57%);
  font-weight: 700;
  font-size: 17px;    
  border: none;
}

.searchbutton:active {
      transform: scale(1.04);
}

.searchbutton:active #app {
  background-color: white;
}

.buttondiv {
  position: absolute;
  z-index: 6;
  top: 90%;
  left: 88.5%;
}